fastapi
uvicorn
sqlmodel
python-multipart
pydantic[email]
pydantic-factories
polyfactory
httpx
pytest
pytest-env
coverage
Pillow
fastapi-mail
qrcode[pil]
python-dotenv

fastapi-users
fastapi-users-db-sqlalchemy
fastapi-users-db-sync-sqlalchemy

opencv-python
face_recognition