fastapi
uvicorn
sqlmodel
python-multipart
pydantic[email]
pydantic-factories
polyfactory
httpx
pytest
pytest-env
coverage
Pillow
fastapi-mail
qrcode[pil]
python-dotenv
fastapi_users
fastapi-users-db-sqlalchemy