on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
  pull_request:
    paths:
      - 'backend/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12.3]
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Python version
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install "setuptools<81"
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run Pytest
        run: coverage run -m pytest tests -v -s
        env:
          TESTING: "true"
      # - name: Generate test coverage report
      #   run: coverage report -m  
      # - name: Generate HTML coverage report
      #   run: coverage html

